h1 {
	text-align: center;
	font-size: 72px;
}

body {
	background: beige;
	width: 80%;
	margin: 0 auto;
}

#con {
	text-align: center;
	font-size: 48px;
}

#fileToInput {
	position: absolute;
	left: 20%;
	bottom: 0;
}

.button {
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 30px 64px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 32px;
	cursor: pointer;
	
	width: 400px;
	
	position:absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom:0;
}

.button:hover {
	background-color: #009EBA;
}

#leftArrow {
	
	background-color: #92bf7f;
	
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 10%;
	cursor: pointer;
}

#leftArrow:hover {
	background-color: #85c7a1;
}

#rightArrow {
	background-color: #92bf7f;
	
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 10%;
	cursor: pointer;
}

#rightArrow:hover {
	background-color: #85c7a1;
}

#myProgress {
	width: 100%;
	background-color: #92bf7f;
}

#myBar {
	width: 0%;
	height: 30px;
	background-color: green;
}